In [3]:
import pandas as pd
import requests as req
from citipy import citipy 
import matplotlib.pyplot as plt
import seaborn as sns
import random
import time as time
pd.options.mode.chained_assignment = None
key="a2f5286bf31a93bf512cd6b8f4d02166"
import numpy as np
import pandas as pd
import openweathermapy as ow
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
%matplotlib inline

In [4]:
#create list of random latitudes and longitudes
data= pd.DataFrame(columns =['Lat',"Lng","City","Temperature","Humidity","Clouds","Wind Speed"])
lat = []
lng = []
for x in range(0,1200):
    lat.append(random.uniform(-90,91))
    lng.append(random.uniform(-181,181))
data['Lat']=lat
data['Lng']=lng
data.head()

         Lat        Lng City Temperature Humidity Clouds Wind Speed
0  20.084058 -13.970898  NaN         NaN      NaN    NaN        NaN
1  44.397537 -96.882973  NaN         NaN      NaN    NaN        NaN
2 -18.413488   7.966440  NaN         NaN      NaN    NaN        NaN
3 -68.949123 -59.011146  NaN         NaN      NaN    NaN        NaN
4 -76.552333  17.080797  NaN         NaN      NaN    NaN        NaN

In [5]:
#find the cities related to the coordinates
cities =[]
for index, row in data.iterrows():
    city=citipy.nearest_city(row["Lat"],row["Lng"])
    cities.append(city.city_name)
data['City']=cities
data.head()

         Lat        Lng        City Temperature Humidity Clouds Wind Speed
0  20.084058 -13.970898        atar         NaN      NaN    NaN        NaN
1  44.397537 -96.882973   brookings         NaN      NaN    NaN        NaN
2 -18.413488   7.966440      namibe         NaN      NaN    NaN        NaN
3 -68.949123 -59.011146     ushuaia         NaN      NaN    NaN        NaN
4 -76.552333  17.080797  bredasdorp         NaN      NaN    NaN        NaN

In [ ]:

#check for and remove duplicates and make sure there are atleast 500 unique cities to test
new_data = data.drop_duplicates("City",keep="first")
len(new_data)

516

In [ ]:
#create empty arrays to store the data for temperature, humidity, clouds, and wind speed 
temp = []
humidity =[]
clouds = []
wind = []

counter = 0
url = "https://api.openweathermap.org/data/2.5/weather?q="
units = "imperial"

#iterate through the rows to pull data from the api 
for index, row in new_data.iterrows():
    counter +=1
    city = row["City"]
    target_url = url+city+"&appid="+key+"&units="+units
    print("we are now on city number "+str(counter))
    print("The name of the city is "+row["City"])
    print(target_url)
    print("__________________________________________________________________________________________")
    info = req.get(target_url).json()
    temp.append(info['main']['temp'])
    humidity.append(info['main']['humidity'])
    clouds.append(info['clouds']['all'])
    wind.append(info['wind']['speed'])
    time.sleep(1)
#assign the values from the arrays to the data frame
new_data["Temperature"]=temp
new_data["Humidity"]=humidity
new_data["Clouds"]=clouds
new_data["Wind Speed"]=wind

we are now on city number 1
The name of the city is atar
https://api.openweathermap.org/data/2.5/weather?q=atar&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 2
The name of the city is brookings
https://api.openweathermap.org/data/2.5/weather?q=brookings&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 3
The name of the city is namibe
https://api.openweathermap.org/data/2.5/weather?q=namibe&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 4
The name of the city is ushuaia
https://api.openweathermap.org/data/2.5/weather?q=ushuaia&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 5
The name of the city is bredasdorp
https://api.openweathermap.org/data/2.5/weather?q=bredasdorp&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 6
The name of the city is rikitea
https://api.openweathermap.org/data/2.5/weather?q=rikitea&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 7
The name of the city is vaitape
https://api.openweathermap.org/data/2.5/weather?q=vaitape&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 8
The name of the city is cape town
https://api.openweathermap.org/data/2.5/weather?q=cape town&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 9
The name of the city is saint george
https://api.openweathermap.org/data/2.5/weather?q=saint george&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 10
The name of the city is teguldet
https://api.openweathermap.org/data/2.5/weather?q=teguldet&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 11
The name of the city is puerto leguizamo
https://api.openweathermap.org/data/2.5/weather?q=puerto leguizamo&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 12
The name of the city is satrikh
https://api.openweathermap.org/data/2.5/weather?q=satrikh&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 13
The name of the city is busselton
https://api.openweathermap.org/data/2.5/weather?q=busselton&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 14
The name of the city is mataura
https://api.openweathermap.org/data/2.5/weather?q=mataura&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 15
The name of the city is awallan
https://api.openweathermap.org/data/2.5/weather?q=awallan&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 16
The name of the city is barrow
https://api.openweathermap.org/data/2.5/weather?q=barrow&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 17
The name of the city is kapaa
https://api.openweathermap.org/data/2.5/weather?q=kapaa&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 18
The name of the city is jamestown
https://api.openweathermap.org/data/2.5/weather?q=jamestown&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 19
The name of the city is saint-philippe
https://api.openweathermap.org/data/2.5/weather?q=saint-philippe&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 20
The name of the city is guerrero negro
https://api.openweathermap.org/data/2.5/weather?q=guerrero negro&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 21
The name of the city is taolanaro
https://api.openweathermap.org/data/2.5/weather?q=taolanaro&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 22
The name of the city is umtata
https://api.openweathermap.org/data/2.5/weather?q=umtata&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 23
The name of the city is saldanha
https://api.openweathermap.org/data/2.5/weather?q=saldanha&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 24
The name of the city is hithadhoo
https://api.openweathermap.org/data/2.5/weather?q=hithadhoo&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 25
The name of the city is avarua
https://api.openweathermap.org/data/2.5/weather?q=avarua&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 26
The name of the city is newport
https://api.openweathermap.org/data/2.5/weather?q=newport&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 27
The name of the city is hobart
https://api.openweathermap.org/data/2.5/weather?q=hobart&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 28
The name of the city is punta arenas
https://api.openweathermap.org/data/2.5/weather?q=punta arenas&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 29
The name of the city is port hardy
https://api.openweathermap.org/data/2.5/weather?q=port hardy&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 30
The name of the city is monrovia
https://api.openweathermap.org/data/2.5/weather?q=monrovia&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 31
The name of the city is warqla
https://api.openweathermap.org/data/2.5/weather?q=warqla&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________

we are now on city number 32
The name of the city is aksu
https://api.openweathermap.org/data/2.5/weather?q=aksu&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 33
The name of the city is olutanga
https://api.openweathermap.org/data/2.5/weather?q=olutanga&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 34
The name of the city is mahebourg
https://api.openweathermap.org/data/2.5/weather?q=mahebourg&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 35
The name of the city is puerto ayora
https://api.openweathermap.org/data/2.5/weather?q=puerto ayora&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 36
The name of the city is pevek
https://api.openweathermap.org/data/2.5/weather?q=pevek&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 37
The name of the city is yar-sale
https://api.openweathermap.org/data/2.5/weather?q=yar-sale&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 38
The name of the city is kamenka
https://api.openweathermap.org/data/2.5/weather?q=kamenka&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 39
The name of the city is yellowknife
https://api.openweathermap.org/data/2.5/weather?q=yellowknife&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 40
The name of the city is morgan city
https://api.openweathermap.org/data/2.5/weather?q=morgan city&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 41
The name of the city is hermanus
https://api.openweathermap.org/data/2.5/weather?q=hermanus&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 42
The name of the city is ojinaga
https://api.openweathermap.org/data/2.5/weather?q=ojinaga&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 43
The name of the city is saskylakh
https://api.openweathermap.org/data/2.5/weather?q=saskylakh&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 44
The name of the city is albany
https://api.openweathermap.org/data/2.5/weather?q=albany&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 45
The name of the city is araouane
https://api.openweathermap.org/data/2.5/weather?q=araouane&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 46
The name of the city is kamina
https://api.openweathermap.org/data/2.5/weather?q=kamina&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 47
The name of the city is osorno
https://api.openweathermap.org/data/2.5/weather?q=osorno&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 48
The name of the city is new norfolk
https://api.openweathermap.org/data/2.5/weather?q=new norfolk&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 49
The name of the city is lagoa
https://api.openweathermap.org/data/2.5/weather?q=lagoa&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________
we are now on city number 50
The name of the city is bocaranga
https://api.openweathermap.org/data/2.5/weather?q=bocaranga&appid=a2f5286bf31a93bf512cd6b8f4d02166&units=imperial
__________________________________________________________________________________________

In [ ]:
new_data.head()

In [ ]:
#Latitude Vs Temperature Scatter Plot
plt.scatter(new_data["Lat"],new_data["Temperature"],marker ="o")
plt.title("Latitude Vs. Temperature")
plt.xlabel("Latitude")
plt.ylabel("Temperature (F)")
sns.set()
plt.show()

In [ ]:
#Humidity Vs. Latitude Scatter Plot
plt.scatter(new_data["Lat"],new_data["Humidity"],marker ="o")
plt.title("Latitude Vs. Humidity")
plt.xlabel("Latitude")
plt.ylabel("Humidity (%)")
sns.set()
plt.show()

In [ ]:
#Cloudiness Vs. Latitude Scatter Plot
plt.scatter(new_data["Lat"],new_data["Clouds"],marker ="o")
plt.title("Latitude Vs. Cloudiness")
plt.xlabel("Latitude")
plt.ylabel("Cloudiness (%)")
sns.set()
plt.show()

In [ ]:
#Wind Speed Vs. Latitude Scatter Plot
plt.scatter(new_data["Lat"],new_data["Wind Speed"],marker ="o")
plt.title("Latitude Vs. Wind Speed")
plt.xlabel("Latitude")
plt.ylabel("Wind Speed (mph)")
sns.set()
plt.show()